/*Breakpoint	Class infix	Dimensions
Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px*/

/*Desktop*/

@media screen and (min-width:576px) {

    .blocco{
        width: 32%;
    }

    .grande{
        width: 65.3%;
        flex-direction: row;
    }

    .diviso{
        width: 50%;
    }

    .blocchi-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}